
textarea {
  overflow: auto;
}



.nfp-button-control:hover{  
  transform: scale(1.2) translateZ(0);
}


.nfp-button-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .4em; 
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em; 
  font-size: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: -o-transform .2s ease;
  -moz-transition: transform .2s ease,-moz-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  outline: none;
  cursor: pointer;
}

.PlayerControlsNeo__bottom-controls .nfp-popup-control .nfp-button-control {
  font-size: inherit;
  width: 100%;
  height: 100%;
}

.PlayerControlsNeo__bottom-controls .nfp-button-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  width: 3.4em;
  height: 3.6em;
  padding: 0 0 .6em 0;
  font-size: 2.8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}


.PlayerControlsNeo__bottom-controls .nfp-popup-control {
  font-size: 2.8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 3.4em;
  height: 3.6em;
}


.nfp-popup-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.nfp-popup-control .popup-content-wrapper.keep-right {
  left: auto;
  right: 0/*!rtl:ignore*/;
}

.nfp-popup-control .popup-content-wrapper {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transform: scale(.85) translateZ(0);
  -moz-transform: scale(.85) translateZ(0);
  transform: scale(.85) translateZ(0);
  -webkit-transition: opacity 160ms ease,visibility 0s linear 160ms,-webkit-transform .2s ease;
  transition: opacity 160ms ease,visibility 0s linear 160ms,-webkit-transform .2s ease;
  -o-transition: opacity 160ms ease,visibility 0s linear 160ms,-o-transform .2s ease;
  -moz-transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms,-moz-transform .2s ease;
  transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms;
  transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
  visibility: hidden;
  will-change: transform,opacity;
  bottom: 3.5em;
  margin: -.5em;
  padding: .5em;
  right: .5em/*!rtl:ignore*/;
}
.touchable {
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.nfp-popup-control .popup-content-wrapper.active {
  z-index: 1;
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}


.something--wrong{
  width: 13em;
  height: 1.35em;
  padding: 1em;
  background-color: var(--heliumPlayer__bckcolor_blck_opacity_,rgba(30,30,30,.5)); 
  color: var(--heliumPlayer__color_light_5);
  font-size: 1.35em;
  border-radius: .3em;
}









.audio--subtitle--options{
  min-width: 18em;
  min-height: 1em;
  background-color: var(--heliumPlayer__bckcolor_blck_opacity_,rgba(30,30,30,.5)); 
  color: var(--heliumPlayer__color_light_5);
  font-size: 1.35em;
  border-radius: .3em;
}




.audio--subtitle--options .wrapper{
    display: flex;  
    min-width: 450px;
}


@media only screen and (max-width: 720px){  
  .audio--subtitle--options .wrapper{
    display: flex;  
    min-width: 350px;
  }
}

@media only screen and (max-width: 420px){  
  .audio--subtitle--options .wrapper{
    display: flex;  
    min-width: 250px;
  }
}

.audio--subtitle--options .wrapper .colums{
  flex: 1;
  width: 50%;
  position: relative;
  padding: 0 0 .8em 0;
}

.wrapper .colums .title{
  text-align: center;
  font-size: 1.15em;
  font-weight: 600;
  color: var(--heliumPlayer__color_light_9);
  padding: .8em;
}

.wrapper .colums .items{
  padding: .4em 0.3em; 
  display: flex;
}

.wrapper .colums .items:hover{
  background-color: var(--heliumPlayer__color_dark_2);
}

.wrapper .colums .items:hover ._label{
  color: var(--heliumPlayer__color_white_);
}





.wrapper .colums .items .marked{
  text-align: center;
  margin: 0 0 0;
  min-width: 5px;
}

.wrapper .colums .items ._label{
  text-align: right;
  font-size: 0.718em;
  font-weight: 300;
  color: var(--heliumPlayer__color_light_2);
  text-transform: lowercase; 
  font-size: inherit;

}
.wrapper .colums .items.active .marked svg{
  fill: var(--heliumPlayer__color_fire);
  margin: 0 15px 0 0;
  min-width: 35px;
}


.wrapper .colums .items.active ._label{
  color: var(--heliumPlayer__color_fire);
  font-weight: 600;
}






.list_subtitles{
  max-height: 50vh;
  overflow-y: auto;
}

.nfp-popup-control .popup-content-wrapper.Vol_{
  transform: rotate(270deg);
  margin: 0 -3.1em 2.8em;
}




.volume--container{
  width: 6em;
  height: 0.6em;
  padding: 0.3em;
  font-size: 1.35em;
  border-radius: .3em;
}

.volume--bar{
  height: 100%;
  border-radius: 0.3em;
  position: relative; 
  
}

.volume--state{
  background-color: var(--heliumPlayer__color_fire);  
  height:40%;
  width:0.6em ;
  border-radius: 0.3em;
  bottom:0;
  position: absolute;
}
.volume--grab--btn{ 
  width: 1.1em;
  height: 1.1em;
  margin: -0.25em;
} 
.volume--grab--btn{  
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--heliumPlayer__color_fire);
  position: absolute;
  margin: -0.25em;
  top: 3%;
}




.volumenIcon:hover .popup-content-wrapper {
  z-index: 1;
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}








.volume--bar [type='range'] {
  --range: calc(var(--heliumPlayer__max) - var(--heliumPlayer__min));
  --ratio: calc((var(--heliumPlayer__val) - var(--heliumPlayer__min))/var(--heliumPlayer__range));
  --heliumPlayer__sx: calc(.5*1.5em + var(--ratio)*(100% - 1.5em));
  margin: 0;
  padding: 0;
  width: 6em;
  height:  0.6em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  outline: none;
  border-radius: 0.6em;
}

.volume--bar [type='range'], .volume--bar [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.volume--bar [type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 6em;
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--back);
  border-radius: 0.6em;
  cursor: pointer;
}







/*
--heliumPlayer__heliumPlayer--sx
--heliumPlayer --heliumPlayer__min
--heliumPlayer__heliumPlayer--max
--range
--heliumPlayer__color--range--volume--back
--heliumPlayer__color--range--volume--active

*/




















.volume--bar [type='range']::-webkit-slider-runnable-track {
  
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);

  /* Opera */ 
  background: -o-linear-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);

  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);

  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);

  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);
  
  border-radius: 0.6em;
}

.volume--bar [type='range']::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 6em;
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--back);
  border-radius: 0.6em;
}

.volume--bar [type='range']::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 6em;
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--back);
  border-radius: 0.6em;
}

.volume--bar [type='range']::-moz-range-progress {  
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--active);
  border-radius: 0.6em;
}

.volume--bar [type='range']::-ms-fill-lower {
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--active);
  border-radius: 0.6em;
}






.volume--bar [type='range']::-webkit-slider-thumb {
  margin: -0.35em 0;
  box-sizing: border-box;
  border: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: var(--heliumPlayer__color--range--volume--active);  
  cursor: pointer;
}



.volume--bar [type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: var(--heliumPlayer__color--range--volume--active);  
  cursor: pointer;
}

.volume--bar [type='range']::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: var(--heliumPlayer__color--range--volume--active);
  cursor: pointer;
}

.volume--bar [type='range']::-ms-tooltip {
  display: none;
}

.volume--bar [type='range']::-webkit-slider-thumb:hover{
  margin: -0.5em 0;  
  width: 1.6em;
  height: 1.6em;  
}

.volume--bar [type='range']::-ms-thumb:hover , .volume--bar [type='range']::-moz-range-thumb:hover{
  width: 1.6em;
  height: 1.6em;  
}

























