

.DialogHRM{    
    
    position: fixed;  /*Stay in place */
    z-index: 220; /* Sit on top */
    background-color: transparent; /* Black fallback color */
    /*background-color: rgba(0,0,0, 0.6); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */   
    opacity: 0;
    top: 50%;
    left: 50%;   
    visibility: hidden;
    max-height: calc(100vh - 48px);
    /*transition: opacity ease-in-out .5s,visibility ease-in-out .5s;*/
    max-width: 80vw;
    margin-left: -40vw;
}


.active .DialogHRM{
   /* transform: translate3d(0, var(--slide-option-heigth-perc--), 0); position: static;*/
    opacity: 1;
    visibility: visible;   
    pointer-events: auto;
    
}

.DialogHRMOverlay{
    height: 100vh; 
    width: 100%;     
    opacity: 0;
    position: fixed;
    z-index: 210; 
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65); 
    overflow-x: hidden;   
    transition: opacity ease-in-out .58s;
    transform-origin:  50% 210% 0;
}


.active .DialogHRM.show{    
    opacity: 1;
    bottom: 0;    
}