


.paleteColor{
  --heliumPlayer__color_fire :#e50914;
  --heliumPlayer__color_fire_2 :#bf1315;
  --heliumPlayer__color_shadow: #454545;
  --heliumPlayer__color_dark_2: #2e2e2e; 
  --heliumPlayer__color_dark_9_7: #979797; 
  --heliumPlayer__color_dark_14: #141414;
  --heliumPlayer__color_light_9: #d9d9d9;
  --heliumPlayer__color_light_2: #a2a2a2;
  --heliumPlayer__color_light_4: #b4b4b4;
  --heliumPlayer__color_light_5: #d5d5d5;
  --heliumPlayer__color_light_6: #f6f6f6;
  --heliumPlayer__color_white_: #ffffff;
  --heliumPlayer__color_blck_: #000000;
}




.App {
  text-align: center;
}

.content_body{
  max-width: 1260px;    
}


.content_home{
  margin-top: 50px;
}

.content_details{
  margin-top: 50px;
}

.content_forms{
  background: var(--background--color--cards);
  padding: 25px 0;
}


/* lili prima 58591665 */

/* 176,82,65 */