._colorPalette{
  --heliumPlayer__color_fire :#e50914;
  --heliumPlayer__color_fire_2 :#bf1315;
  --heliumPlayer__color_fire :#69f0ae;
  --heliumPlayer__color_fire_2 :#69f0ae;
  --heliumPlayer__color_shadow: #454545;
  --heliumPlayer__color_dark_2: #2e2e2e; 
  --heliumPlayer__color_dark_9_7: #979797; 
  --heliumPlayer__color_dark_14: #141414;
  --heliumPlayer__color_light_9: #d9d9d9;
  --heliumPlayer__color_light_2: #a2a2a2;
  --heliumPlayer__color_light_4: #b4b4b4;
  --heliumPlayer__color_light_5: #d5d5d5;
  --heliumPlayer__color_light_6: #f6f6f6;
  --heliumPlayer__color_white_: #ffffff;
  --heliumPlayer__color_blck_: #000000;
  --heliumPlayer__bckcolor_blck_opacity_:rgba(10,10,10,.695);
}


textarea {
  overflow: auto;
}



.nfp-button-control:hover{  
  transform: scale(1.2) translateZ(0);
}


.nfp-button-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .4em; 
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em; 
  font-size: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: -o-transform .2s ease;
  -moz-transition: transform .2s ease,-moz-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  outline: none;
  cursor: pointer;
}

.PlayerControlsNeo__bottom-controls .nfp-popup-control .nfp-button-control {
  font-size: inherit;
  width: 100%;
  height: 100%;
}

.PlayerControlsNeo__bottom-controls .nfp-button-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  width: 3.4em;
  height: 3.6em;
  padding: 0 0 .6em 0;
  font-size: 2.8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}


.PlayerControlsNeo__bottom-controls .nfp-popup-control {
  font-size: 2.8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 3.4em;
  height: 3.6em;
}

.relPots {
  position: relative;
}


.nfp-popup-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.nfp-popup-control .popup-content-wrapper.keep-right {
  left: auto;
  right: 0/*!rtl:ignore*/;
}

.nfp-popup-control .popup-content-wrapper {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transform: scale(.85) translateZ(0);
  -moz-transform: scale(.85) translateZ(0);
  transform: scale(.85) translateZ(0);
  -webkit-transition: opacity 160ms ease,visibility 0s linear 160ms,-webkit-transform .2s ease;
  transition: opacity 160ms ease,visibility 0s linear 160ms,-webkit-transform .2s ease;
  -o-transition: opacity 160ms ease,visibility 0s linear 160ms,-o-transform .2s ease;
  -moz-transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms,-moz-transform .2s ease;
  transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms;
  transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
  visibility: hidden;
  will-change: transform,opacity;
  bottom: 3.5em;
  margin: -.5em;
  padding: .5em;
  right: .5em/*!rtl:ignore*/;
}
.touchable {
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.nfp-popup-control .popup-content-wrapper.active {
  z-index: 1;
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}


.something--wrong{
  width: 13em;
  height: 1.35em;
  padding: 1em;
  background-color: var(--heliumPlayer__bckcolor_blck_opacity_,rgba(30,30,30,.5)); 
  color: var(--heliumPlayer__color_light_5);
  font-size: 1.35em;
  border-radius: .3em;
}




.next--alert{
  min-width: 8em;
  min-height: 1.35em;
  padding: 0.41em;
  background-color: var(--heliumPlayer__bckcolor_blck_opacity_,rgba(30,30,30,.5)); 
  color: var(--heliumPlayer__color_light_5);
  border-radius: .3em;
  font-size: 1.35em;
}
.next--alert p{
  margin: 0 3px 7px;
  font-family: Roboto,Arial,sans-serif;
  font-size: 1.195rem;
  letter-spacing: .2px;
}

.next--alert a{

}



.audio--subtitle--options{
  min-width: 18em;
  min-height: 1em;
  background-color: var(--heliumPlayer__bckcolor_blck_opacity_,rgba(30,30,30,.5)); 
  color: var(--heliumPlayer__color_light_5);
  font-size: 1.35em;
  border-radius: .3em;
}




.audio--subtitle--options .wrapper{
    display: flex;  
    min-width: 450px;
}


@media only screen and (max-width: 720px){  
  .audio--subtitle--options .wrapper{
    display: flex;  
    min-width: 350px;
  }
}

@media only screen and (max-width: 420px){  
  .audio--subtitle--options .wrapper{
    display: flex;  
    min-width: 250px;
  }
}

.audio--subtitle--options .wrapper .colums{
  flex: 1;
  width: 50%;
  position: relative;
  padding: 0 0 .8em 0;
}

.wrapper .colums .title{
  text-align: center;
  font-size: 1.15em;
  font-weight: 600;
  color: var(--heliumPlayer__color_light_9);
  padding: .8em;
}

.wrapper .colums .items{
  padding: .64em 0.3em; 
  display: flex;
}

.wrapper .colums .items:hover{
  background-color: var(--heliumPlayer__color_dark_2);
}

.wrapper .colums .items:hover ._label{
  color: var(--heliumPlayer__color_white_);
}


.wrapper .colums .items.active{
  padding: .24em 0.3em; 
  --heliumPlayer__color_fire_2 :#bf1315;
  --heliumPlayer__color_fire :#69f0ae;
  --heliumPlayer__color_fire_2 :#69f0ae;
}

.title_video{
  padding: 0px 5px 1px 2.5em;
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper .colums .items .marked{
  text-align: center;
  margin: 0 0 0;
  min-width: 5px;
}

.wrapper .colums .items ._label{
  text-align: right;
  font-size: 0.718em;
  font-weight: 300;
  color: var(--heliumPlayer__color_light_2);
  text-transform: lowercase; 
  font-size: inherit;

}
.wrapper .colums .items.active .marked svg{
  fill: var(--heliumPlayer__color_fire_2);
  margin: 0 15px 0 0;
  min-width: 35px;
}


.wrapper .colums .items.active ._label{
  color: var(--heliumPlayer__color_fire_2);
  font-weight: 600;
  margin-top: 8px;
}






.list_subtitles{
  max-height: 50vh;
  overflow-y: auto;
}

.nfp-popup-control .popup-content-wrapper.Vol_{
  transform: rotate(270deg);
  margin: 0 -2.5em 2.8em;
}




.volume--container{
  width: 6em;
  height: 0.6em;
  padding: 0.3em;
  font-size: 1.35em;
  border-radius: .3em;
}

.volume--bar{
  height: 100%;
  border-radius: 0.3em;
  position: relative; 
  
}

.volume--state{
  background-color: var(--heliumPlayer__color_fire);  
  height:40%;
  width:0.6em ;
  border-radius: 0.3em;
  bottom:0;
  position: absolute;
}
.volume--grab--btn{ 
  width: 1.1em;
  height: 1.1em;
  margin: -0.25em;
} 
.volume--grab--btn{  
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--heliumPlayer__color_fire);
  position: absolute;
  margin: -0.25em;
  top: 3%;
}




.volumenIcon:hover .popup-content-wrapper {
  z-index: 1;
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}








.volume--bar [type='range'] {
  --range: calc(var(--heliumPlayer__max) - var(--heliumPlayer__min));
  --ratio: calc((var(--heliumPlayer__val) - var(--heliumPlayer__min))/var(--heliumPlayer__range));
  --heliumPlayer__sx: calc(.5*1.5em + var(--ratio)*(100% - 1.5em));
  margin: 0;
  padding: 0;
  width: 6em;
  height:  0.6em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  outline: none;
  border-radius: 0.6em;
}

.volume--bar [type='range'], .volume--bar [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.volume--bar [type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 6em;
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--back);
  border-radius: 0.6em;
  cursor: pointer;
}







/*
--heliumPlayer__heliumPlayer--sx
--heliumPlayer --heliumPlayer__min
--heliumPlayer__heliumPlayer--max
--range
--heliumPlayer__color--range--volume--back
--heliumPlayer__color--range--volume--active

*/




















.volume--bar [type='range']::-webkit-slider-runnable-track {
  
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);

  /* Opera */ 
  background: -o-linear-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);

  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);

  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);

  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(var(--heliumPlayer__color--range--volume--active), var(--heliumPlayer__color--range--volume--active))  0/var(--heliumPlayer__sx) 100% no-repeat var(--heliumPlayer__color--range--volume--back);
  
  border-radius: 0.6em;
}

.volume--bar [type='range']::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 6em;
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--back);
  border-radius: 0.6em;
}

.volume--bar [type='range']::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 6em;
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--back);
  border-radius: 0.6em;
}

.volume--bar [type='range']::-moz-range-progress {  
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--active);
  border-radius: 0.6em;
}

.volume--bar [type='range']::-ms-fill-lower {
  height:  0.6em;
  background: var(--heliumPlayer__color--range--volume--active);
  border-radius: 0.6em;
}






.volume--bar [type='range']::-webkit-slider-thumb {
  margin: -0.35em 0;
  box-sizing: border-box;
  border: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: var(--heliumPlayer__color--range--volume--active);  
  cursor: pointer;
}



.volume--bar [type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: var(--heliumPlayer__color--range--volume--active);  
  cursor: pointer;
}

.volume--bar [type='range']::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: var(--heliumPlayer__color--range--volume--active);
  cursor: pointer;
}

.volume--bar [type='range']::-ms-tooltip {
  display: none;
}

.volume--bar [type='range']::-webkit-slider-thumb:hover{
  margin: -0.5em 0;  
  width: 1.6em;
  height: 1.6em;  
}

.volume--bar [type='range']::-ms-thumb:hover , .volume--bar [type='range']::-moz-range-thumb:hover{
  width: 1.6em;
  height: 1.6em;  
}






.rowTitleBack .aro-row-header {
  display: table-cell;
  vertical-align: bottom;
  margin-top: 6px;
}

.rowTitleBack .aro-row-header .see-all-link {
  display: inline-block;
  font-size: .9vw;
  margin-right: 4px;
  max-width: 0;
  line-height: 0.8vw;
  -webkit-transition: max-width 1s, opacity 1s, -webkit-transform 750ms;
  transition: max-width 1s, opacity 1s, -webkit-transform 750ms;
  -o-transition: max-width 1s, opacity 1s, -o-transform 750ms;
  -moz-transition: max-width 1s, opacity 1s, transform 750ms, -moz-transform 750ms;
  transition: max-width 1s, opacity 1s, transform 750ms;
  transition: max-width 1s, opacity 1s, transform 750ms, -webkit-transform 750ms, -moz-transform 750ms, -o-transform 750ms;
  white-space: nowrap;
  vertical-align: bottom;
  cursor: pointer;
  opacity: 0;
}


.rowTitleBack .aro-row-chevron {
  display: none;
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  -o-transition: -o-transform 750ms;
  -moz-transition: transform 750ms, -moz-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms, -moz-transform 750ms, -o-transform 750ms;
  font-size: .9vw;
  vertical-align: bottom;
}


a.rowTitleBack:hover, a.rowTitleBack:focus {
  outline: none;
  color: #fff;
}

a.rowTitleBack:hover .aro-row-header .see-all-link, a.rowTitleBack:focus .aro-row-header .see-all-link {
  
  -webkit-transform: translate(1vw, 0);
  -moz-transform: translate(1vw, 0);
  -ms-transform: translate(1vw, 0);
  -o-transform: translate(1vw, 0);
  transform: translate(1vw, 0);
  opacity: 1;
}


.titleView.aro-row-header .see-all-link,
.titleView.aro-row-header .see-all-link {  
  -webkit-transform: translate(1vw, 0);
  -moz-transform: translate(1vw, 0);
  -ms-transform: translate(1vw, 0);
  -o-transform: translate(1vw, 0);
  transform: translate(1vw, 0);
  opacity: 1;
  font-size: 1.59vw;
}



a.rowTitleBack:hover .aro-row-header .aro-row-chevron,
a.rowTitleBack:focus .aro-row-header .aro-row-chevron {
  -webkit-transform: translate(1vw, 0);
  -moz-transform: translate(1vw, 0);
  -ms-transform: translate(1vw, 0);
  -o-transform: translate(1vw, 0);
  transform: translate(1vw, 0);
  font-size: .65vw;
  line-height: .8vw;
}



@media screen and (max-width: 1099px) and (min-width: 800px){
  a.rowTitleBack:hover .aro-row-header .aro-row-chevron,
  a.rowTitleBack:focus .aro-row-header .aro-row-chevron { 
    font-size: .95vw;
    line-height: 1.38vw;
  }
}




@media screen and (max-width: 799px) and (min-width: 500px){
  a.rowTitleBack:hover .aro-row-header .aro-row-chevron,
  a.rowTitleBack:focus .aro-row-header .aro-row-chevron { 
    font-size: 1.2365vw;
    line-height: 1.78vw;
  }
}












.__CloseCaptionBox__{
  display : block;
  bottom : 2em;
  width:100%;
  position: absolute;
  right:0;
  min-height:35px;
  z-index:  15;
  transition: bottom 0.15s ease;
}

.__CloseCaptionBox__.isHover{
  bottom : 8em;
}

.__CloseCaptionBox__ ._SubtitleText{
  height: 1.5em;
  padding: 0.21em;
  color: #d5d5d5;
  font-size: 2.25vw;
  background: rgba(8, 8, 8, 0.75);
  max-width: 100%;
  border-radius: 2px;    
  color: var(--heliumPlayer__color_white_);
  fill: var(--heliumPlayer__color_white_);
  font-family:  Roboto, "Arial Unicode Ms";
}

.__CloseCaptionBox__ ._SubtitleText.empty {
  padding: 0;
}












.something--wrong--Dialog{
  border-top: 2px solid var(--heliumPlayer__color_fire);  
  border-bottom:  1px solid var(--heliumPlayer__color_shadow); 
  border-left:  1px solid var(--heliumPlayer__color_shadow); 
  border-right:  1px solid var(--heliumPlayer__color_shadow); 
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px; 
  background-color: var(--heliumPlayer__color_dark_14); 
  overflow: hidden;
    min-height: 15rem;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60vw;
}

.something--wrong--Dialog .title{
  color: var(--heliumPlayer__color_light_9);
  font-size:  1.8em;   
  text-align: left;
  margin: 0.4em 1em;
}

.something--wrong--Dialog .title--desc{
  color: var(--heliumPlayer__color_light_4);
  font-size:  1.4em; 
  text-align: left;
  margin: 0.3em 0.7em;
}











.ReportAProblemDialogContainer{
  padding: 1.6em;
  max-width: 50vw;
  /*
  max-height: 22em;
  overflow-y: auto ;
  */
}



.ReportAProblemDialog--fieldset {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 1rem;
  text-align: left;
}

.ReportAProblemDialog--fieldset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.ReportAProblemDialog--checkbox-container {
  width: 2em;
  height: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 1em 0 0;
}

.ReportAProblemDialog--label-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.ReportAProblemDialog--checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}




.ReportAProblemDialog--checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--heliumPlayer__color_blck_);
  border: 1px solid var(--heliumPlayer__color_dark_9_7);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6em;
}


.ReportAProblemDialog--checkbox-label {
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}

.ReportAProblemDialog--checkbox-label-definition {
  color: var(--heliumPlayer__color_light_4);
  font-size: 0.9em;
  display: block;
  font-weight: 400;
}




.ReportAProblemDialog--message-fieldset {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 0;
  opacity: 0;
  -webkit-transition: max-height 250ms ease-out,opacity 250ms ease-out;
  -o-transition: max-height 250ms ease-out,opacity 250ms ease-out;
  -moz-transition: max-height 250ms ease-out,opacity 250ms ease-out;
  transition: max-height 250ms ease-out,opacity 250ms ease-out;
}


.ReportAProblemDialog--details-header {
  font-weight: 400;
  padding: 0;
  margin: 2rem 0 .5rem 0;
}

.ReportAProblemDialog--textarea {
  background-color:var(--heliumPlayer__color_blck_);
  color: var(--heliumPlayer__color_white_);
  resize: none;
  border: 1px solid var(--heliumPlayer__color_dark_9_7);
  width: 50%;
}





.ReportAProblemDialog--submit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--heliumPlayer__color_white_);
  background-color: var(--heliumPlayer__color_fire); 
color: #004d40;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 0 0 0;
  padding: .75rem;
  font-weight: 700;
}

.ReportAProblemDialog--details-question, .ReportAProblemDialog--details-question-optional {
  display: inline-block;
}

.ReportAProblemDialog--details-question-optional {
  padding-left: .5rem;
  color:  var(--heliumPlayer__color_light_4); 
}




.ReportAProblemDialog--message-fieldset.visible {
  max-height: 20rem;
  opacity: 1;
}


.ReportAProblemDialog--fieldset.visible .ReportAProblemDialog--checkbox:before {
  color: var(--heliumPlayer__color_fire); 
  content: '✔';
}

/*
.ReportAProblemDialog--checkbox-input:checked+.ReportAProblemDialog--checkbox:before
*/




.ReportAProblemDialogContainer input{
  background-color: var(--heliumPlayer__color_dark_14);
  padding: .5rem;
  color:  var(--heliumPlayer__color_light_4); 
  border: none;
  border-bottom: 1px solid  var(--heliumPlayer__color_light_4); 
  outline: none;
  min-width: 75%;
  font-size: 0.96em;
  text-align: left;

}

.ReportAProblemDialogContainer .label--input {
  color: var(--heliumPlayer__color_light_2);
  font-size: 1.1em;
  text-align: left;
  margin: 0.3em 0.7em;
}


.upload--Wrapper{
  display: flex;
  position: relative;
}

.upload--Container{
  min-height: 20px;
  margin: 0.3em 0.7em;
}

.upload--Container span{
  position: absolute;
  padding: 15px;
}

.upload--Container input{
  position: absolute;
  opacity:0;
  height:100%;
  width:100%;
  
}

.file_Done{  
  position: relative;
  min-width: 24px;
  height: 30px;
  margin: 0.99em 0.7em 0;
}

.file_Done svg{
  fill: var(--heliumPlayer__color_fire);
}



.header_subtitle{
  display: flex;
}

.header_subtitle .icons_btn{
  padding: 1.199em  0 0 0.7em;
}
.header_subtitle .icons_btn_search{
  padding: 0.599em 0.7em 0 0.7em;
}


.header_subtitle .syncTime_seconds{ 
  padding: 1.45em 0 0 0.7em;
  font: 300 0.95em/1.05em Roboto,sans-serif;
}





.mobile_player-button-control {
  box-sizing: border-box;
  padding: .001em;
  border-radius: .3em;
  font-size: 1.5em;
  display: flex;
  flex: 0 1 auto;
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  outline: none;
  cursor: pointer;
}





._prel{
  position: relative;
}

._barBtnWrp{
  position: absolute;
  bottom: 0.75rem;
}

._barBtnWrp time{
  margin-top: 0.4rem;
}


.wdt50{
  width: 50%;
  margin: 0  auto;
}

.wdt24{
  width: 24%;
  margin: 0  auto;
}


[is-mobile="true"] .title_video{
  font-size: 1.15em;  
  padding: .76em 5px 1px .25em;
}

[is-mobile="true"]  ._btnMobile{
  position: relative;
  width: 10vw;
  height: 10vw;
}


[is-mobile="true"]  ._btnMobile ._play{
  position: absolute;
  width: 9vw;
  height: 9vw;
}


[is-mobile="true"]  ._btnMobile ._next_prev{ 
  font-size: 1.15em;  
  outline: none;
  padding: .76em 5px 1px .25em;
  position: absolute;
}

 


[is-mobile="true"] .__CloseCaptionBox__.isHover {
    bottom: 3.85em; 
}

[is-mobile="true"] .__CloseCaptionBox__ ._SubtitleText {
  font-size: 3.25vw;
}

[is-mobile="true"] .titleName {
  height: 2.6rem;
}






.control-container_.active{
  transform: scale(1);
  opacity: 1;
  z-index: 5;
  /*visibility: visible;*/
}

.control-container_.hiddeCur{
  cursor : none!important;
}

.control-container_{   
  opacity: 0;
  position: absolute;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: opacity 160ms ease,visibility 0s linear 160ms,-webkit-transform .2s ease;
  transition: opacity 160ms ease,visibility 0s linear 160ms,-webkit-transform .2s ease;
  -o-transition: opacity 160ms ease,visibility 0s linear 160ms,-o-transform .2s ease;
  -moz-transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms,-moz-transform .2s ease;
  transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms;
  transition: opacity 160ms ease,transform .2s ease,visibility 0s linear 160ms,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
  /*visibility: hidden;*/
  will-change: transform,opacity;
  height: 100%;
  width: 100%; 
  z-index: 5;  
}

.video-container_{
  position: absolute;
  z-index: 2;  
  height: 100%;
  width: 100%; 
}

.control-bottom-box_{
  display : block;     
  bottom : 3vh; 
  position: absolute; 
  left: 12px;
  right:12px; 
}

.control-middle-box_{
  display : block;     
  bottom : 40vh;
  position: absolute; 
  left: 12px;
  right:12px;
}


.control-left-box_{
  display : block;
  position: absolute; 
  left: 12px;
  width: 3em;     
  top: 25px;
  height: 100vh;   
}


.control-left-box_ {
    display: block;
    position: absolute;
    left: 5px;
    width: 0.1em; 
    top: 5px;
    height: 100vh;
}

[is-mobile="true"] .control-left-box_ {
  display: block;
  position: absolute;
  left: 5px;
  width: calc( 100vw - 10px);
  top: 5px;
  height: 10vh;
}


.go--Back_{
  position: relative;
  top: 1em;
}



.rowTitleBack{ 
color: #e5e5e5;
font-weight: bold;
margin: 0 4% 0.5em 4%;
text-decoration: none;
display: inline-block;
min-width: 6em;

}

[is-mobile="true"] .control-left-box_
.rowTitleBack{ 
margin: 0 1% 0.5em 1%;
}

















@media screen and (min-width: 1200px){
  .ReportAProblemDialog--fieldset {    
    margin: 0 0 16px;
  }
  
  .ReportAProblemDialog--checkbox-container {
    width: 28px;
    height: 28px;    
    margin: 0 16px 0 0;
  }
  
  .ReportAProblemDialog--checkbox-label {
    font-size: 22px;
  }  
  .ReportAProblemDialog--checkbox-label-definition {
    font-size: 17px;
  }
  .ReportAProblemDialog--checkbox {    
    font-size: 30.5px;
  }
  



  .something--wrong--Dialog .title{
    font-size: 32px;
  }
  .something--wrong--Dialog .title--desc{
    font-size: 16px;
  }

  .ReportAProblemDialog--details-header {    
    margin: 32px 0 .8px 0;
  }
  
  .ReportAProblemDialog--submit-button {
    
    margin: 22px 0 0 0;
    padding: 11px;
  }


}








.nfp_ .scrubber-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  height: 3.3em;
}

.nfp_ .scrubber-container .scrubber-bar {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: auto;
  position: relative;
}

.nfp_ .scrubber-container .track {
  height: .5em;
  background: var(--heliumPlayer__color_shadow);
  position: relative;
  -webkit-transition: height .2s ease;
  -o-transition: height .2s ease;
  -moz-transition: height .2s ease;
  transition: height .2s ease;
  will-change: height;
  border-radius: 0.2em;
}




.nfp_ .scrubber-container:hover .track{
  height: .86em;
}

.nfp_ .scrubber-container:hover .scrubber-head{
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1.2) translateZ(0);
}



.nfp_ .scrubber-container .buffered {
  background: rgba(255,255,255,.2);
}

.nfp_ .scrubber-container .buffered, .nfp_ .scrubber-container .current-progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}


.nfp_ .scrubber-container .current-progress {
  background:  var(--heliumPlayer__color_fire);
  border-radius: 0.2em;
}






.nfp_ .scrubber-container .play-head {
  height: 100%;
  border-left: solid 1px rgba(255,255,255,.5);
  border-right: solid 1px rgba(255,255,255,.5);
  margin-left: -1px;
  position: absolute;
  display: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}



.nfp_ .trickplay {
  pointer-events: none;
  display: none;
  position: absolute;
  bottom: 2.5em;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  overflow: hidden;
}

.nfp_ .trickplay.trickplay-visible {  
  display: block;
}

.nfp_{
  width: 100%;
}


.nfp_ .scrubber-container .scrubber-head {
  position: absolute;
  top: 50%;
  height: 1.4em;
  width: 1.4em;
  margin: -.75em;
  background:  var(--heliumPlayer__color_fire);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 1;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: -o-transform .2s ease;
  -moz-transition: transform .2s ease,-moz-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease,-moz-transform .2s ease,-o-transform .2s ease;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  cursor: pointer;  
  outline: none;
}


.nfp_ .trickplay.trickplay-text-and-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 0;
  background: rgba(38,38,38,.85);
  -webkit-box-shadow: 0 0 1em rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1em rgba(0,0,0,.5);
  box-shadow: 0 0 1em rgba(0,0,0,.5);
}

.nfp_ .trickplay.trickplay-text-and-image .tp-text {
  padding: .35em 0;
  text-align: center;
  font-size: 1.28em;
  color:  var(--heliumPlayer__color_light_5);
}




.nfp_ .trickplay.trickplay-text-and-image img {
  display: block;
  width: 100%;
}

.PlayerControls--control-element {
  -webkit-transition: opacity .25s,-webkit-transform .25s cubic-bezier(.5,0,.1,1);
  transition: opacity .25s,-webkit-transform .25s cubic-bezier(.5,0,.1,1);
  -o-transition: opacity .25s,-o-transform .25s cubic-bezier(.5,0,.1,1);
  -moz-transition: transform .25s cubic-bezier(.5,0,.1,1),opacity .25s,-moz-transform .25s cubic-bezier(.5,0,.1,1);
  transition: transform .25s cubic-bezier(.5,0,.1,1),opacity .25s;
  transition: transform .25s cubic-bezier(.5,0,.1,1),opacity .25s,-webkit-transform .25s cubic-bezier(.5,0,.1,1),-moz-transform .25s cubic-bezier(.5,0,.1,1),-o-transform .25s cubic-bezier(.5,0,.1,1);
  -webkit-transform: translateZ(0) scale(1);
  -moz-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
}
.time-remaining--modern {
  width: 6.3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.time-remaining__time {
  font-size: 1.5em;
  color:  var(--heliumPlayer__color_white_);
}



.ControlBar.visible{
  opacity: 1;
}

.ControlBar.hidden{
  opacity: 0;
}

.ControlBar{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: .4em .1em;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  transition: opacity .2s ease;
  width:calc(100% - 50px);
  position:relative;
  margin: 0px 25px;
}
























.nfp_ .scrubber-action--container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  height: 2.5em; 
}






.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  padding: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.6;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 50px;
  --slider_thumb--:32px;
}



/*
[is-mobile="false"] .slider:hover {
  opacity: 1;
  padding: 5px;
  margin-left: -2px;
  margin-top: -1px;
}


[is-mobile="false"] .slider:hover::-webkit-slider-thumb,
[is-mobile="false"] .slider:hover::-moz-range-thumb
{
  width: 30px;
  height: 30px;
}

*/



.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--slider_thumb--);
  height: var(--slider_thumb--);
  border-radius: 50px;
  background: var(--color-base--hover);;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: var(--slider_thumb--);
  height: var(--slider_thumb--);
  background: var(--color-base--hover);
  cursor: pointer;
}







.VideoBezel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  z-index: 19;
  margin-left: -36px;
  margin-top: -46px;
  background: rgba(0,0,0,.5);
  border-radius: 100px;
  border: 5px solid var(--heliumPlayer__color_white_);
  box-shadow: 0 0 50px var(--heliumPlayer__color_white_), inset 0 0 50px var(--heliumPlayer__color_white_);
  -moz-animation: bezeloader .75s linear 1 normal forwards;
  -webkit-animation: bezeloader .75s linear 1 normal forwards;
  animation: bezeloader .75s linear 1 normal forwards;
  pointer-events: none;
}


[is-mobile="true"] .control-middle-box_ {
  display: block;
  /* bottom: 40vh; */
  position: absolute;
  left: 12px;
  right: 12px;
  top: 13vh;
  height: 70vh;
}



[is-mobile="true"] .control-middle-box_ ._actionBtnPly {  
  position: absolute;  
  top: 25vh;
  width: 100%;
}

[is-mobile="true"] .margRgt {  
 margin-right: 15px;
}


.wdt100{
  width: 100%;
  height: 100%;
}





.control-bottom-box_  {
  background: -webkit-linear-gradient(45deg,rgba(0,0,0,.6) 0,rgba(0,0,0,.4) 15%,transparent 40%);
  background: -moz- oldlinear-gradient(45deg,rgba(0,0,0,.6) 0,rgba(0,0,0,.4) 15%,transparent 40%);
  background: -o-linear-gradient(45deg,rgba(0,0,0,.6) 0,rgba(0,0,0,.4) 15%,transparent 40%);
  background: linear-gradient(45deg,rgba(0,0,0,.6) 0,rgba(0,0,0,.4) 15%,transparent 40%);
}