

.spinnerSvg {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }
  
  .spinnerPath {
    /* Fall back for IE 11, where the stroke properties are not animated,
       but the spinner still rotates. */
    stroke: #d62d20;
    stroke-dasharray: 20, 200;
    stroke-dashoffset: 0;
  
    animation:
      dash 1.5s ease-in-out infinite,
      color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  .spinnerPathWC {
    /* Fall back for IE 11, where the stroke properties are not animated,
       but the spinner still rotates. */
    stroke: #d62d20;
    stroke-dasharray: 20, 200;
    stroke-dashoffset: 0;  
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  
  @keyframes color {
    100%, 0% {
      stroke: #d62d20;
    }
    40% {
      stroke: #0057e7;
    }
    66% {
      stroke: #008744;
    }
    80%, 90% {
      stroke: #ffa700;
    }
  }
  
  
  #loadingSpinner {
    margin: auto;
    width: 100px;
    height: 100px;
  
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  

  .Icon_Cnt{
    position:relative;
  }



  .SpriteSvg {
    border: 2px solid firebrick;
    background: rgba(213, 0, 0,0.52);    
    margin: -7px -7px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: IconSpriteAll 2.2s linear infinite;

  }
  .SpritePath {
    animation: IconSprite 3s linear infinite;    
  }



  @keyframes IconSprite22 {
    0%{background-position:0px 0px}
    25%{background-position:0px 0px}
    100%{background-position:0px -2000px}
  }

  .loader:before {
    z-index: 2;
    -webkit-animation: IconSprite 2s infinite;
    -moz-animation: IconSprite 2s infinite;
    -o-animation: IconSprite 2s infinite;
    animation: IconSprite 2s infinite;
  }




  @-webkit-keyframes IconSprite {
    0% {
      -webkit-transform: scale(0.8);
      opacity: 0.5;
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(0.8);
      opacity: 0.5;
    }
  }
  @keyframes IconSprite {
    0% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }




  @-webkit-keyframes IconSpriteAll {
    0% {
      -webkit-transform: scale(0.2);
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.2);
      opacity: 0;
    }
  }
  @keyframes IconSprite {
    0% {
      transform: scale(0.2);
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }